<template>
  <v-flex md3 xs12>
    <v-card>
      <v-img height="15px"></v-img>
      <v-card-title primary-title class="hero-title">
        <div>
          <h3 class="title">{{ hero.name }}</h3>

        </div>
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn icon @click="$emit('deleteHero', hero.name)">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: {
    hero: {
      type: Object,
    },
  },
};
</script>
